.forgot-password-root {
    height: 100vh;
    display: flex;
    
    .form {
        padding: 1rem 1rem 2rem 1rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        width: 100%;

        
        .logo {
            margin-bottom: -1rem;

            @media (min-width: 640px) {
                margin-inline: auto;
            }
        }

        .submit-btn {
            display: block;

            color: var(--text-color-white);
            background-image: var(--gradient-primary);
            font-weight: 600;
            border-radius: 4px;
        }

        @media (min-width: 640px) {
            max-width: 25rem;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }
    }

    @media (min-width: 640px) {
        justify-content: center;
        align-items: center;
    }
}