.Event-Banner-Image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .share-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 21px;
    padding-bottom: 21px;

    .back-btn {
      visibility: hidden;

      @media (max-width: 640px) {
        visibility: visible;
      }
    }
  }

  .event-image {
    width: 100%;
    height: 600px;
    position: relative;

    @media (max-width: 640px) {
      height: 300px;
      margin-bottom: 70px;
    }

    .event-tag {
      background: linear-gradient(92.83deg, #00aff0 0%, #1758fe 100%);
      border-radius: 42.4px;
      font-style: normal;
      font-weight: 600;
      font-size: 23px;
      line-height: 29px;
      color: #ffffff;
      width: max-content;
      padding: 7px 26px;
      position: absolute;
      top: 20px;
      left: 20px;

      @media (max-width: 640px) {
        display: none;
      }
    }

    .desktop-event-date-time {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      border-radius: 87.2857px 0px 0px 87.2857px;
      padding: 18px 25px 18px 58px;
      position: absolute;
      bottom: 20px;
      right: 0;

      @media (max-width: 640px) {
        display: none;
      }

      p {
        margin: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #e85353;
        margin-left: 5px;
      }
    }

    .mobile-event-date-time {
      display: none;

      @media (max-width: 640px) {
        display: flex;
        background: #f8f8f8;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
      }

      .event-date {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          margin-left: 5px;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 13px;
          color: #e85353;
        }
      }

      .trending-text {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          margin-left: -10px;

          h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 14px;
            color: #1a1445;
            padding-left: 10px;
            padding-bottom: 5px;
            margin: 0;
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 11px;
            color: rgba(26, 20, 69, 0.6);
            padding-left: 10px;
            margin: 0;
          }
        }
      }
    }
  }
}
