.editor-root {
    padding: 1rem;
    margin: 1rem auto;

    border-radius: 4px;
    background-color: var(--color-white);
    word-wrap: break-word;

    .save-btn {
        margin-top: -1rem;

        font-size: var(--hd-sm);
        color: var(--color-gray-3);

        &:hover {
            color: var(--text-color);
        }

        &.success {
            color: #07bc0c;
        }

        &.failure {
            color: var(--color-red-1);
        }
    }

    a {
        color: var(--color-primary);
    }
}
  