.category-wrapper {
  margin-top: 28px;
  padding-inline: 16px;

  & > h1 {
    font-family: var(--family-inter);
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: black;
  }

  & > .list {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;

    & > .tag {
      font-family: var(--family-lato);
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      border-radius: 30px;
      padding: 8px 20px;
      border: 1.5px solid #00000024;
      color: black;
    }

    & > .bg {
      background: var(--gradient-primary);
      color: var(--text-color-white);
      cursor: pointer;
      border: none;
    }
  }

  @media (min-width: 768px) {
    padding-inline: 0px;
    margin-top: 76px;

    & > h1 {
      font-size: 34px;
      line-height: 41px;
    }

    & > .list {
      & > .tag {
        font-size: 18px;
        border-radius: 67.61px;
        padding: 0.75em 2em;
        border: 3.38px solid #00000024;

        &.bg {
          border: none;
        }
      }
    }
  }
}
