.events-root {
  @media (min-width: 640px) {
    padding-top: 32px;
  }

  .load-more-wrapper {
    display: flex;
    justify-content: center;
    .load-more-btn {
      background-image: var(--gradient-primary);
      color: var(--text-color-white);
      padding: 0.5rem;
      font-size: var(--text-base);
      border-radius: 14px;
    }
  }
}

.btn {
  margin: 0 auto;
  display: block;
  background: linear-gradient(179.87deg, #165ffc -70.13%, #01a9ef 79.53%);
  box-shadow: 0px 2px 30px rgba(22, 95, 252, 0.2);
  padding: 10px 12px;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  font-weight: 500;
  color: white;
}

.img__wrapper {
  text-align: center;

  img {
    max-width: 70px;
  }
}
