.share-wrapper {
  margin-top: 2.5rem;
  box-shadow: 0px 6.086158275604248px 30.4307918548584px 0px rgba(0, 0, 0, 0.12);
  border-radius: 15.2154px;
  background-color: white;
  padding: 1rem 1.5rem;

  h5 {
    display: flex;
    align-items: center;
    margin: 0;
    font-family: var(--family-inter);
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #000000;
    gap: 1.125rem;

    .share-icon {
      height: 16px;
      color: var(--color-primary);
    }
  }

  .row {
    margin-top: 1.75rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;

    .copy-link {
      display: flex;
      align-items: center;

      span {
        &:first-child {
          background: rgba(23, 88, 254, 0.1);
          border-radius: 12.1723px;
          padding: 8px 18px;
          font-family: "SF Pro Display Regular";
          font-style: normal;
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 1.25rem;
          color: #1758fe;
          cursor: default;
          margin-right: 1rem;
        }
        &:last-child {
          border: 1.52154px solid #8a8a8a;
          box-sizing: border-box;
          border-radius: 51.7323px;
          padding: 3.76px 6.76px;
          font-family: "SF Pro Display Regular";
          font-style: normal;
          font-weight: normal;
          font-size: 0.75rem;
          line-height: 1rem;
          color: #8a8a8a;
          cursor: pointer;
          transition: 0.25s ease-in;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }

    span {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        width: 2rem;
        height: 2rem;
        transition: 0.25s ease-in;
        cursor: pointer;
        &:hover {
          transform: translateY(-5px);
          opacity: 0.6;
        }
        &:last-child {
          margin-right: 0;
        }
      }

      .phone-icon {
        color: var(--color-primary);
      }
    }
  }

  @media (min-width: 768px) {
    padding: 1.75rem 2.25rem;

    h5 {
      font-size: 24.3446px;
      line-height: 29px;

      .share-icon {
        height: 20px;
      }
    }
  }

  @media (min-width: 1024px) {
    .row {
      margin-top: 2.125rem;
      flex-direction: row;
      align-items: center;

      .copy_link {
        display: flex;
        align-items: center;

        span {
          &:first-child {
            padding: 8px 18px;
            font-weight: 400;
            font-size: 28px;
            line-height: 33px;
          }
          &:last-child {
            font-size: 15.2154px;
            line-height: 18px;
          }
        }
      }

      span {
        img {
          width: auto;
          height: auto;
          margin-right: 1.125rem;
        }
      }
    }
  }
}
