.checkbox-group {
	display: flex;
	gap: 0.5rem;
	color: var(--text-color-dark);
	margin: 2em 0 1em 0;

	label {
		font-size: var(--text-medium);
	}

	input {
		margin-right: 0.5em;
		accent-color: var(--color-primary);
	}
}