.home-cta-root {
  padding-bottom: 3rem;
  position: relative;
  .bg-color {
    padding: 20px 0px 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('/assets/images/backgroundblue.png');
  }

  .txt-large {
    font-size: 59px;
    font-weight: 700;
    color: #ffff;
  }

  .heading-wrap {
    display: flex;

    justify-content: flex-start;
    align-items: center;
    .txt-subheading {
      margin-top: 10px;
      font-size: 44px;
      font-weight: 700;
      color: #1758fe;
    }
    .txt-lg {
      margin-right: 10px;

      font-size: 59px;
      font-weight: 700;
      color: #1758fe;
    }
  }
  .txt-lastsubheading {
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
  }
  .img-sub {
    display: inline-block;
    position: relative;
    left: 200px;
    top: 20px;
  }
  .img-arrsub {
    display: inline-block;
    position: relative;
    left: 287px;
    top: 15px;
  }
  .arrdown-para {
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    padding-left: 210px;
    padding-top: 15px;
  }
  .get-the-app {
    align-items: center;
    padding-left: 129px;
    padding-top: 20px;
    .btn-appsotre-ml {
      margin-left: 24px;
    }
  }

  //   .bg-image {
  //     position: absolute;
  //     inset: 0;
  //     pointer-events: none;
  //   }

  //   .cta {
  //     flex-direction: column;
  //     padding-top: 3rem;
  //     color: var(--text-color-white);
  //     display: flex;
  //     padding: 60px;

  //     .flex-grow {
  //       flex: 2 1 auto;
  //     }

  //     .left-section {
  //       @extend .flex-grow;
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: auto;
  //       gap: 2rem;
  //       align-items: center;
  //     }

  //     .right-section {
  //       display: none;
  //     }

  //     .text-bold {
  //       font-weight: bold;
  //       font-family: var(--family-inter);
  //     }
  //     .text-largerheading {
  //       font-size: 40px;
  //       display: flex;
  //       justify-content: start;
  //       align-items: center;
  //       flex-wrap: nowrap;
  //       width: 80%;
  //     }
  //     .text-large {
  //       @extend .text-bold;
  //       line-height: 1.2;
  //       font-size: var(--hd-xs);
  //     }

  //     .text-larger {
  //       @extend .text-bold;
  //       line-height: 1.2;
  //       font-size: var(--hd-sm);
  //     }

  //     .btn {
  //       display: none;
  //     }

  //     .get-the-app {
  //       gap: 1rem;
  //       display: flex;

  //       svg {
  //         max-width: 100%;
  //       }
  //     }
  //   }
  // }

  // .pre-line {
  //   white-space: pre-line;
  // }

  // @media (min-width: 640px) {
  //   .home-cta-root {
  //     padding-bottom: 0;
  //     .cta {
  //       .text-large {
  //         font-size: var(--hd-md);
  //         line-height: 1;
  //       }
  //       .text-larger {
  //         font-size: var(--hd-lg);
  //         line-height: 1;
  //       }

  //       .btn {
  //         margin-inline: auto;
  //         padding: 0.5em 2.5em;

  //         display: inline-block;

  //         font-family: var(--family-lato);
  //         font-weight: bold;
  //         font-size: var(--text-base);

  //         background-color: var(--color-white);
  //         color: #069af4;
  //         border-radius: 0.5em;
  //       }

  //       .right-section {
  //         flex: 2 1 auto;

  //         display: flex;
  //         justify-content: center;

  //         img {
  //           max-width: 100%;
  //         }
  //       }
  //     }
  //   }

.right-img{
  margin-bottom: -3px;
}
  .mobile-img {
    display: none;
  }
  .mobile-rating {
    display: none;
  }
  .mboile-stars-img {
    display: none;
  }
 


  @media (max-width: 640px) {
    
    .bg-color {
      padding: 5px 0px;
  flex-direction: column;
    }
    .right-img{
      margin-bottom: -8px;
    }
  
    .heading-wrap {
      display: none;
    }
    .txt-lastsubheading {
      display: none;
    }
    .img-sub {
      display: none;
    }
    .img-arrsub {
      display: none;
    }
    .txt-large {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 40px;
      font-weight: 900;
      color: #ffffff;
    }
    .mobile-img {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 26px;
      height: 270px;
    }
    .arrdown-para {
      display: flex;
      justify-content: center;
      text-align: center;
      padding-left: 0px;
      padding-top: 0px;
    }
    .get-the-app {
      width: 75%;
      margin: 0px auto;
      padding-left: 0px;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      .btn-appsotre-ml {
        margin-left: 16px;
      }
      svg {
        max-width: 100%;
      }
    }
    .mobile-rating {
      display: block;
      font-size: 14px;
      color: #ffffff;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .mboile-stars-img {
      display: block;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin-top: 5px;
    }
  }
}
