.no-items-found-root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: var(--text-color);

  svg {
    width: 32px;
    height: 32px;
  }

  p {
    margin: 0;

    font-family: var(--family-inter);
    font-size: var(--text-sm);
    font-weight: 600;

    color: var(--text-color-dark);
  }

  @media (min-width: 640px) {
    svg {
      width: 42px;
      height: 42px;
    }

    p {
      font-size: var(--text-base);
    }
  }
}
