@mixin hide-on-desktop {
  @media (min-width: 900px) {
    display: none;
  }
}

.hero-root {
  margin: 0 -1.125rem;

  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    padding: 1rem 0.625rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    // background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: background-color 0.25s ease-in-out;

    span {
      width: 28px;
      height: 28px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;
      background: var(--color-white);

      svg {
        color: var(--text-color);
        width: 65%;
      }
    }

    &.gradient {
      // background: #165ffc;
      background: var(--color-white);
    }
  }

  @media (min-width: 640px) {
    margin: 2rem 0;

    .header {
      display: none;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;

  transition: all 0.25s ease;

  .slider-wrapper {
    width: 100%;

    position: relative;

    overflow: hidden;

    .slider-image {
      // aspect-ratio: 16 / 9;
    }

    .trending-banner {
      width: 100%;
      padding: 0.5rem 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      background: #f8f8f8;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

      & > .left-section {
        flex-grow: 1;

        width: auto;

        display: flex;
        align-items: flex-end;
        gap: 0.5rem;

        svg {
          max-width: 22px;
        }

        .label {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          color: var(--text-color);
          line-height: 1.2;

          span:first-child {
            font-family: var(--family-inter);
            font-size: var(--text-xs);
            font-weight: 700;
          }

          span:last-child {
            font-size: var(--text-xs);
            opacity: 0.5;
          }
        }
      }

      & > .right-section {
        padding: 0.125rem 0;
        margin-left: auto;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        color: var(--color-red-1);

        svg {
          max-width: 18px;
        }

        span {
          font-size: var(--text-sm);
          font-weight: 700;
          line-height: 1.2;
        }
      }

      &.sticky {
        position: fixed;
        top: 60px;
        z-index: 2;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .start-time {
      display: none;
    }

    .overview {
      padding: 0.75rem 1.125rem;

      h2 {
        font-family: var(--family-inter);
        font-size: var(--hd-xs);
        font-weight: 700;

        color: var(--text-color-dark);
        word-wrap: break-word;
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .stars {
          max-width: 18px;
        }

        .btn-notify-overview {
          padding: 0.375rem 1.125rem;

          font-size: var(--text-sm);
        }
      }
    }

    .info {
      padding: 0.75rem 1.125rem;

      display: flex;
      flex-direction: column;

      background: var(--color-gray-1);

      .location {
        margin-bottom: 0.5rem;

        display: flex;
        align-items: flex-start;
        gap: 0.5rem;

        span {
          font-size: var(--text-sm);
          line-height: 1.2;

          color: var(--text-color);
        }

        svg {
          max-width: 18px;

          color: var(--color-gray-4);
        }
      }

      .miles {
        margin-bottom: 0.5rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        & > svg {
          font-size: 1.125rem;

          & > path {
            stroke: var(--gradient-color-one);
          }
        }

        span {
          font-size: var(--text-sm);

          color: var(--text-color);
        }
      }

      .btn-notify-info {
        display: none;
      }
    }

    @include hide-on-desktop();
  }

  .btn-book {
    text-transform: capitalize;
    cursor: pointer;
  }

  @media (min-width: 640px) {
    gap: 1.5rem;

    .slider-wrapper {
      // border-radius: 20px;

      .trending-banner {
        padding: 0;

        display: block;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
        box-shadow: none;

        & > .left-section {
          width: 100%;
          padding: 0.5rem 1rem;

          gap: 0.25rem;

          svg {
            max-height: 22px;
          }

          .label {
            flex-grow: 1;

            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            color: var(--color-white);

            span:first-child {
              font-size: var(--text-sm);
            }

            span:last-child {
              opacity: 1;
            }
          }
        }

        & > .right-section {
          display: none;
        }

        &.sticky {
          position: inherit;
          top: inherit;
          z-index: inherit;
        }

        @include hide-on-desktop();
      }
    }

    .content {
      .start-time {
        margin-bottom: 0.5rem;

        display: flex;
        align-items: center;
        gap: 0.375rem;

        color: var(--color-red-1);

        svg {
          max-width: 24px;
        }

        span {
          font-size: var(--text-base);
          font-weight: 700;
        }
      }

      .overview {
        padding: 0;
        margin-bottom: 2rem;

        h2 {
          font-size: var(--hd-md);
        }

        .wrapper {
          display: block;

          .stars {
            max-width: 28px;
          }

          .btn-notify-overview {
            display: none;
          }
        }
      }

      .info {
        padding: 0;

        display: block;
        background: transparent;

        .location {
          margin-bottom: 1rem;

          align-items: center;
          gap: 1rem;

          svg {
            max-width: unset;
          }

          span {
            font-size: var(--text-md);
          }
        }

        .miles {
          margin-bottom: 1rem;

          gap: 1rem;

          & > svg {
            font-size: 1.25rem;
          }

          span {
            font-size: var(--text-md);
          }
        }

        .btn-notify-info {
          padding: 0.5rem 1.5rem;

          display: flex;
        }
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;

    .slider-wrapper {
      flex: 1;
      width: 50%;
      // max-height: 335px;
    }

    .content {
      flex: 1;
      width: 50%;
    }
  }
}

.image-slider {
  height: 100%;

  position: relative;

  .icon {
    position: absolute;
    bottom: 10px;
    right: 10px;

    width: 28px;
    height: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--text-md);
    line-height: 1;

    border-radius: 50%;
    background: var(--color-white);
    color: var(--text-color);
    z-index: 1;
    cursor: pointer;
  }

  @media (min-width: 640px) {
    & > div {
      border-radius: 20px;
    }
  }
}
