.event-sharing {
  padding: 28px 22px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 640px) {
    margin-bottom: 10px;
    margin-top: 60px;
  }

  h1 {
    background: rgba(23, 88, 254, 0.1);
    border-radius: 10.8254px;
    font-style: normal;
    font-weight: 400;
    font-size: 29.0135px;
    line-height: 35px;
    color: #1758fe;
    padding: 10px 20px;
    width: max-content;

    @media (max-width: 640px) {
      font-size: 16px;
      line-height: 20px;
      padding: 10px 20px;
    }
  }
  .share-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;

    p {
      margin: 0;
      padding-left: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 23.7423px;
      line-height: 28px;
      color: #000000;

      @media (max-width: 640px) {
        font-size: 15px;
        line-height: 14px;
      }
    }
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-top: 17px;
  }

  button {
    border: 2.19228px solid #828282;
    border-radius: 74.5377px;
    font-style: normal;
    font-weight: 400;
    font-size: 21.1043px;
    line-height: 25px;
    color: #828282;
    background-color: transparent;
    padding: 6px 25px;
    margin-top: 26px;
    cursor: pointer;

    @media (max-width: 640px) {
      font-size: 15px;
      line-height: 13px;
      padding: 6px 20px;
    }
  }
}
