.notification-list-root {
  .list {
    margin-bottom: 1.25rem;

    .head {
      margin-bottom: 0.75rem;

      display: flex;
      align-items: baseline;
      gap: 0.5rem;

      span {
        font-family: var(--family-inter);

        &:first-child {
          font-size: var(--text-md);
          font-weight: 500;
          line-height: 1.2;

          color: var(--text-color-dark);
        }

        &:last-child {
          width: 1.25rem;
          height: 1.25rem;

          display: flex;
          align-items: center;
          justify-content: center;

          font-size: var(--text-sm);
          font-weight: 600;
          line-height: 1;

          color: var(--gradient-color-two);
          border-radius: 50%;
          background: rgba(23, 88, 254, 0.14);
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .item {
        padding: 0.625rem 0;

        display: flex;
        align-items: flex-end;

        .img-wrapper {
          position: relative;
          overflow: hidden;

          flex-shrink: 0;

          width: 3.875rem;
          height: 3.875rem;

          border-radius: 50%;
          object-fit: cover;
          box-shadow: 0px 2px 10px 0px rgba(47, 73, 109, 0.5);
        }

        p {
          max-width: 11.25rem;
          margin-left: 0.5rem;

          font-family: var(--family-lato);
          font-size: var(--text-base);
          line-height: 1.2;

          color: var(--text-color);
          word-wrap: break-word;

          span {
            line-height: inherit;

            &.action {
              color: var(--gradient-color-two);
            }
          }
        }

        .time {
          flex: 1 0 auto;
          align-self: center;

          display: flex;
          flex-direction: column;
          align-items: flex-end;

          span {
            font-size: var(--text-sm);

            color: var(--text-color);

            &:first-child {
              opacity: 0.5;
            }

            &.hidden {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}
